<h1>HI</h1>
    
<form method="POST">
  <div class="form-group">
    <label for="title">Title:</label>
    <input type="title" name="title" class="form-control" id="title">
  </div>
  <div class="form-group">
    <label for="body">Body:</label>
    <textarea name="body" rows="5" class="form-control" id="body"></textarea>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
<% @all_postings.each do |p| %>
  <h3><%= p.title %></h3>
  <p><%= p.body %></p>
  <a href="/update_view/<%= p.id %>" class="btn btn-default">Re-write</a>
  <a href="/destroy/<%= p.id %>" class="btn btn-danger">Delete</a>
  <form action="/comment/create" method="POST">
    <label for="comment">Comment:</label>
    <%= hidden_field_tag(:id_of_posting, p.id) %>
    <input type="comment" name="content" class="form-control" id="comment">
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
  <% @all_comments.each do |c| %>
    <% if c.posting_id == p.id %>
      <p><%= c.content %></p>
      <a href="comments/destory/<%= c.id %>">delete</a>
    <% end %>
  <% end %>
<% end %>



